<div class="alert alert-dark ">
<h3>Garvit Kataria</h3>
INDIAN INSTITUTE OF INFORMATION TECHNOLOGY, SRI CITY <br>
| B.TECH (3RD YEAR) <br>
COMPUTER SCIENCE AND ENGINEERING<br><br>
<hr> 
Aphlabet is one of the interesting projects I worked on last semester. Most of the Professors in Universities/Colleges use Google Classroom for their courses. 

The problem here is that :
<ol>
	<li> A lot of bandwidth is used to upload/download lectures, Assignments etc.</li>
	<li>Our Institute wants to come up with rules to allocate storage to the students.</li> 
</ol>
To solve this problem we developed Aphlabet which is hosted locally on the Institute servers.


<br><br>
Client-side VueJs Code: <a href="https://github.com/AnubhavUjjawal/Aphlabet">here</a><br>

Backend Django Code: <a href="https://github.com/Jeet-007/ITSProject-OnlineClassroom">here</a><br>

Hosted here: <a href="http://35.200.250.64">http://35.200.250.64</a><br>

<div>
	<b>Login Details:</b><br>
	Username: uma_garimella<br>
	Password: qazwsxedc<br>
</div>
<br><br>

<h4 class="alert-heading">TechStack: Vue.js, Django, REST, MySQL</h4>
<ul>
	<li>
		The aim to simplify creating, distributing and grading assignments in a paperless way.
	</li>
	<li>
		Initiative to provide a solution to high bandwidth usage of web services like google classroom by running the servers on localhost.
	</li>
	<li>
		Streamline the process of sharing files between teachers and students by allocating dedicated storage to the students.
	</li>
	<li>
		Used by 200+ targeted students, researchers who have actively volunteered to be a part of Aphlabet.
	</li>
</ul>



Kindly find my resume  
<a href="https://drive.google.com/file/d/1I-G9uxpVAysWVviqdHPxHrY0RAOewM40/view?usp=sharing">
here
</a>.

<hr>
<h4 class="alert-heading">Contact Me Here:</h4>
	<ul>
		<li>Mobile No.: 7014156060</li>
		<li>Email: garvit.k16@iiits.in</li>
	</ul>
</div>

